@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 22%;
    --header: 0 0% 22.4%;
    --header-foreground: 0 0% 98%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 22%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 22%;
    --primary: 38 100% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 38 100% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 38 100% 52%;
    --chart-1: 120 70% 40%; /* Green */
    --chart-2: 40 100% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 0 84.2% 60.2%; /* Red */
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 22%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 38 100% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 27%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 30%;
    --sidebar-ring: 38 100% 52%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --header: 0 0% 22.4%;
    --header-foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 38 100% 52%;
    --primary-foreground: 0 0% 0%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 38 100% 52%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 38 100% 52%;
    --chart-1: 120 70% 50%; /* Green */
    --chart-2: 0 0% 80%;
    --chart-3: 30 80% 55%;
    --chart-4: 0 70% 50%; /* Red */
    --chart-5: 340 75% 55%;
    --sidebar-background: 0 0% 12%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 38 100% 52%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 38 100% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .rdp-vhidden {
    display: none;
  }
}
